<a href="#" class="nav_link active">
    <i class='bx bx-grid-alt nav_icon'></i>
    <span class="nav_name">Dashboard</span> </a>

<a href="{% url 'admin_staff:users' %}" class="{% if request.resolver_match.url_name == 'users' %}
        active
    {% endif %} nav_link">
    <i class='bx bx-user nav_icon'></i>
    <span class="nav_name">Пользователи</span> </a>

<a href="{% url 'admin_staff:products' pk=1 %}" class="{% if request.resolver_match.url_name == 'products' %}
        active
    {% endif %} nav_link">
    <i class='bx bx-cart nav_icon'></i>
    <span class="nav_name">Товары</span> </a>

<a href="#" class="nav_link">
    <i class='bx bx-bookmark nav_icon'></i>
    <span class="nav_name">Bookmark</span> </a>

<a href="#" class="nav_link">
    <i class='bx bx-folder nav_icon'></i>
    <span class="nav_name">Files</span> </a>

<a href="#" class="nav_link">
    <i class='bx bx-bar-chart-alt-2 nav_icon'></i>
    <span class="nav_name">Stats</span> </a>
© 2021 GitHub, Inc.