{% extends 'geekshop/base.html' %}
{% load static %}
{% load adminapp_tags %}
{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'mainapp/style-products.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'basketapp/css/basket.css' %}">
{% endblock %}
{% block top %}
{% include 'basketapp/includes/inc_basket.html' %}
<div class="hero-white">
    {% include 'geekshop/includes/inc_main_menu.html' %}
</div>
{% endblock %}
{% block content %}
<div class="details">
    <div class="links clearfix">
        {% include 'mainapp/includes/inc_categories_menu.html' %}
    </div>

    <!--Горячее предложение на главной странице каталога-->
    {% if hot_product %}
    <div class="details-products">
        <div class="details-slider">
            <div class="slider-product">
                <img src="{{ hot_product.image|media_folder_products }}">
            </div>
            <div class="slider-control">
                <div class="block">

                    <a href="#"><img src="{{ hot_product.image_preview_1|media_folder_products }}" class="img-prv"
                                     alt="{{ hot_product.name }}">
                        <div class="text"></div>
                    </a>
                </div>
                <div class="block">
                    <a href="#"><img src="{{ hot_product.image_preview_2|media_folder_products }}" class="img-prv"
                                     alt="{{ hot_product.name }}">
                        <div class="text"></div>
                    </a>
                </div>
                <div class="block">
                    <a href="#"><img src="{{ hot_product.image_preview_3|media_folder_products }}" class="img-prv"
                                     alt="{{ hot_product.name }}">
                        <div class="text"></div>
                    </a>
                </div>
            </div>
        </div>

        <div class="description">
            <h3 class="big-bold">{{ hot_product.name }}</h3>
            <h3 class="red">горячее предложение</h3>
            <p class="price"> {{ hot_product.price|floatformat:0 }} <span>руб</span></p>
            <a href="{% url 'basket:add' hot_product.pk %}" class="red-button">заказать <i class="fa fa-chevron-right"
                                                                                           aria-hidden="true"></i></a>
            <div class="description-text">
                {{ hot_product.short_desc }}
            </div>
        </div>
    </div>
    {% endif %}

    <!--Для страниц категорий товаров-->
    {% if category %}
    <div class="title clearfix">
        <h2>
            {{ title }}
        </h2>
    </div>
    <div class="products clearfix container">
        <div class="row">
            {% for product in products %}
            <div class="block col w-25 my-3">
                <a href="{% url 'products:product' product.pk %}">
                    <img src="{{ product.image|media_folder_products }}" class="" alt="{{ product.name }}">
                    <div class="text">
                        <img src="{% static 'img/icon-hover.png' %}" alt="hover">
                        <h4>{{ product.name }}</h4>
                        <p>{{ product.short_desc }}</p>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif%}
    <div class="paginator">
        {% if products.has_previous %}
        <a href="{% url 'products:page' category.pk products.previous_page_number %}"><</a>
        {% endif %}
        <span class="current">
            страница {{ products.number }} из
            {{ products.paginator.num_pages }}
          </span>
        {% if products.has_next %}
        <a href="{% url 'products:page' category.pk products.next_page_number %}">></a>
        {% endif %}
    </div>

    <!-- Похожие товары на главной каталога  -->
    {% if same_products %}


    <div class="related"></div>
    <div class="title clearfix container">
        <h2>Похожие продукты</h2>
        <a class="explore" href="#">показать все <img src="{% static 'img/arrow.png'%}" alt=""></a>
    </div>

    <div class="related-products clearfix container">
        <div class="row mt-4">
            {% for same_product in same_products %}
            <div class="block col-md-4 my-3 mx-3">
                <a href="{% url 'products:product' same_product.pk %}">
                    <img src="{{ same_product.image|media_folder_products }}" class="" alt="{{ product.name }}">
                    <div class="text">
                        <img src="{% static 'img/icon-hover.png' %}" alt="hover">
                        <h4>{{ same_product.name }}</h4>
                        <p>{{ same_product.short_desc }}</p>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>


    </div>
</div>
{% endif %}

<div class="clr"></div>
{% endblock %}
