{% extends "adminapp/base.html" %}
{% load static %}
{% load adminapp_tags %}

{% block content %}
{% include 'orderapp/includes/inc_order_summary.html' %}
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th></th>
            <th></th>
            <th>Шт.</th>
            <th>Сумма</th>
        </tr>
        </thead>
        <tbody>
        {% for item in object.get_items_cached %}
        <tr>
            <td>
                <div class="header_img header_img-admin">
                    <a href="{% url 'mainapp:product' item.product.pk %}">
                    <img src="{{ item.product.image|media_folder_products }}"
                         alt="{{ object.name }}"></a>
                </div>
            </td>
            <td>
                <a href="{% url 'mainapp:product' item.product.pk %}">{{ item.product.name }}</a>
                <br>
                {{ item.product.short_desc }}
                <br>
                {{ item.product.price }}&nbspруб
            </td>
            <td>
                {{ item.quantity }} шт.
            </td>
            <td>
                {{ item.get_product_cost }}&nbspруб
            </td>
        </tr>
        {% endfor %}
        {% with object_summary=object.get_summary %}
        <tr>
            <td></td>
            <td></td>
            <td>Итого:</td>
            <td>{{ object_summary.total_cost }}&nbspруб</td>
        </tr>
        {% endwith %}
        </tbody>
    </table>
</div>
{% include 'orderapp/includes/inc_order_actions.html' %}

{% endblock %}